/* body{
    color: white;
    background-color: black;
} */

/* .box{
    width: 900px;
    height: 400px;
    background-color: aqua;
}

.box > div{
    border: 1px solid red;
    width: 30px;
    height: 30px;
}
.box > p{
    color: red;
}
.boxjon ~ .box2{
    background-color: green;
}

.box > div:first-child{
    background-color: red;
}

.box > div:nth-child(4){
    background-color: blue;

}

.box > div:last-child {
    background-color: red;
} */
input[type="radio"] + .checkbox__check{
    border-radius: 50%;
}
input[type="checkbox"] + .checkbox__check{
    border-radius: 5px;
    
}
.form{
    width: 400px;
    min-height: 300px;
    box-shadow: 0 0 2px black;
    margin: auto;
    margin-top: 150px;
    padding: 20px;
    border-radius: 10px;
}

.checkbox{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.checkbox__input{
    appearance: none;
    margin: 0;
}
.checkbox__check{
    width: 10px;
    height: 10px;
    border: 2px solid black;
    /* position: absolute; */
    /* margin-right:10px; */
}
.checkbox__label{
    margin-left: 10px;
    
}
.checkbox__input:checked + .checkbox__check{
    background-color: black;
    box-shadow: 0 0 2px black;
}

.checkbox__input:disabled ~ .checkbox__label{
    color: rgb(165, 165, 165);
}


.checkbox__input:disabled + .checkbox__check{
    background-color: rgb(165, 165, 165);
    /* box-shadow: 0 0 2px black; */
    border: 2px solid rgb(119, 119, 119);
}

.checkbox__input:checked:disabled + .checkbox__check{
    background-color: rgb(122, 122, 122);
    /* box-shadow: 0 0 2px black; */
    border: 2px solid rgb(196, 196, 196);
}


.switch{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.switch__input{
    appearance: none;
    margin: 0;
}

.switch__outer{
    width: 30px;
    height: 15px;
    border: 1px solid rgb(163, 163, 163);
    transition: border-color .1s ease-in-out;
    margin-right: 10px;
    border-radius: 7.5px;
    display: flex;
    align-items: center;

    position: relative;
}
.switch__outer:after{
    content: "";
    width: 13px ;
    height: 13px ;
    background-color: rgb(163, 163, 163);
    border-radius: 50%;
    position: absolute;
    left: 15px;
    margin-left: -14px;
    box-shadow:  0 0 1px 1px rgba(128, 144, 236, 0.438);
    transition: left .2s cubic-bezier(0.15,-0.9, 0.85, 1.92), background-color .2s ease-in-out;
}

.switch__input:checked + .switch__outer:after{
     left: 100%;
     background-color: rgb(0, 38, 255);
}

.switch__input:checked + .switch__outer{
     border-color: rgb(0, 38, 255);
}

.switch__input:checked:focus + .switch__outer{
    box-shadow:  0 0 1px 1px rgba(95, 114, 223, 0.438);
}

.switch__label{
    user-select: none;
}